[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pillow = "*"
python-dotenv = "*"
streamlit-option-menu = "*"
matplotlib = "*"
scikit-learn = "*"
graphviz = "*"
dtreeviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
